<div class="center room_page" id="top">
  <center>
    <div class="container">
      <div class="row" style="margin: 50px auto;">
        <img src="../../assets/PPT.jpg" style="width: 80%; height: 60%;">
      </div>
    <center><a href="#top"><i class="fa fa-arrow-circle-o-up fa-5x" style="color: white;"></i></a></center>
  </div>
  </center>
</div>
