<div class="hide-on-med-and-up">
  <div class="row container" style="margin-bottom: 0em;">
  	<div style="margin: 2em;"><b><u>서비스 소개</u></b></div>
  		<center>
  		<div style="margin-top: 5em;">
  			<div class="col s6 m6 l6">
  				<img src="../../assets/핸드폰.png" style="float: left;width: 100%; margin: 0em 1em;">
  			</div>
  			<div class="col s6 m6 l6">
  			<div class="text-block">
  				<h4 style="font-size: 80%;margin: 0.3em;;line-height: 1.5em;"><b>대학생 택시 합승 서비스<br> Taxiple</b></h4>

  				<div style="text-align: initial;">
  				<h5 style="font-size:60%; margin:0.3em;line-height: 1.3em;">택시를 혼자 이용하기 부담스럽고<br> 무서웠던
  				전국의 대학생들을 위해<br> 준비 했습니다.	더 이상 혼자<br> 비싼 요금을 지불하며 택시 타지마세요!<br>
  				하염없이 버스만 기다리다가<br> 지각하지마세요!<br>
  				이제 택시플과 함께 빠르고<br> 저렴하게 통학하세요.</h5>
  				</div>

  				<div class="login-content" style='width:100%;'>
  				  <a href="#"><button name="button" class="login-enter btn" style="font-size: 0.6em;margin: 0.5em;padding: 0em;width: 62%;height: 100%;line-height: 3em;">Taxiple 이용하기</button></a>
  				</div>
  			</div>
  			</div>
  		</div>
  	</center>
  </div>
  <section style="background-color: #eceff1; padding: 1em 0em;">
  	<div class="container">
  		<div class="row">
  			<div class="col s4 m4 l4">
  				<center>
  					<div id="page1">
  					<img src="../../assets/번개아이콘.jpg" style="margin:1em; width: 50%;">
  					</div>
  					<h3 style='font-size: 100%;'><b>간편한 합승</b></h3>
  					<h5 style="margin:1em 0em; line-height: 2em;font-size: 70%;">몇 번의 클릭만으로<br>
  							간단하고 쉽게<br> 방을 만들거나<br>
  							참여할 수 있습니다.
  					</h5>
  				</center>
  			</div>
  			<div class="col s4 m4 l4">
  				<center>
  					<img src="../../assets/원아이콘.jpg" style="margin:1em; width: 50%;">	
  					<h3 style='font-size: 100%;'><b>저렴한 합승</b></h3>
  					<h5 style="margin:1em 0em; line-height: 2em;font-size: 70%;">목적지가 같은<br>학생들과의 합승으로<br>
  							버스요금보다 저렴하게<br>
  							통학할 수 있습니다.
  					</h5>
  				</center>
  			</div>
  			<div class="col s4 m4 l4">
  				<center>
  					<img src="../../assets/하트아이콘.jpg" style="margin:1em; width: 50%;">
  					<h3 style='font-size: 100%;'><b>안전한 합승</b></h3>
  					<h5 style="margin:1em 0em; line-height: 2em;font-size: 70%;">학교의 웹메일을 통한<br>
  							인증으로, 같은 학교<br>학생들과	안전하게 <br>합승할 수 있습니다.
  					</h5>
  				</center>
  			</div>
  		</div>
  	</div>
  </section>
</div>  