<!--첫화면-->

<div class="parallax-container">
  <div class="back-img">
  <center>
<!--태블릿 & 데스크탑 환경-->
    <div class="banner hide-on-small-only"><div class="banner-line">
      <h1 class="tagline hide-on-small-only">택시플은 함께해서 
      <span class="change-container">
        <span class="changing">저렴하고</span> 
        <span class="changing">빠르고</span> 
        <span class="changing">편안합니다</span> 
      </span>
      </h1>
    </div></div>
<!--휴대폰환경-->
    <div class="section hide-on-med-and-up" style="padding:1rem;">
      <div id="service-intro"></div>
      <div class="row container">
        <center>
        <div class="card z-depth-2" style="width: 100%; height: 100%; border-radius: 20px">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../../assets/taxiplefull-2f7dc0f3433f6bcb8cd86b1eac47cf0cef8a827b46a9460a625b8efcb710de34.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
              <center>
              <a class="waves-effect waves-light btn-large deep-orange" href="/taxiple/page4"><i class="material-icons left ">send</i>서비스 이용하기</a>
              </center>
            </span>
          </div>
        </div>
        </center>
      </div>
    </div>

    <!--공개 아이디-->
    <br>
    <center>
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <div style="background-color: black;">
          <br>
            <h4 style="color: white;">공개아이디</h4><br>
            <h5 style="color: white;">ID : 32141620@dankook.ac.kr<br>
                Password : 12341234<br></h5>
                <br>
          </div>
        </div>
      </div>
    </div>
    </center>
  </center>
  </div>
</div>
<!--테블릿&데스크탑 화면-->
<div class="section back-img_3 hide-on-small-only" style="padding:1rem;">
  <div id="service-intro"></div>
  <div class="row container">
    <center>
    <div class="card z-depth-2" style="width: 50%; height: 100%; border-radius: 20px">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../../assets/taxiplefull-2f7dc0f3433f6bcb8cd86b1eac47cf0cef8a827b46a9460a625b8efcb710de34.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <center>
          <a class="waves-effect waves-light btn-large deep-orange" href="/taxiple/page4"><i class="material-icons left ">send</i>서비스 이용하기</a>
          <a class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons right">add</i></a>
          </center>
        </span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><h4>택시 합승 서비스</h4><i class="material-icons right">close</i></span> <img src="../../assets/taxiple-text.png" style="width: 11rem; height: 4rem;">
        <h5 style="line-height: 150%;">버스비 만큼 저렴한 가격으로<br>정해진 루트를 보다 빠르고 편안하게 <br>택시를 이용하는 O2O 서비스입니다.</h5>
        
      </div>
    </div>
    </center>
  </div>
</div>
<!-- 모바일 환경 -->
<div class="parallax-container">
  <div class="parallax back-img_2" style="padding: 1rem;">
    <div id="staggered-test">
        <div class="row">
          <div class="col s12 m12 l6"><center>
            <ul>
              <li>
                <div class="card white z-depth-3">
                  <div class="card-content black-text">
                  <h4>택시플만의 강점</h4>
                  </div>
                </div>
              </li>
              <li>
                <div class="card white z-depth-3">
                  <div class="card-content black-text">
                    <h5>첫째. 대학생만을 대상으로 <br class="hide-on-med-and-up">운영됩니다</h5>
                    <p>학교의 웹메일을 통해 인증 받습니다</p>
                    <p>같은 학교 학생끼리라 안전해요</p>
                  </div>
                </div>
              </li><!--로그인 중이면 "내 정보" 로그아웃 중이면 "로그인하기"-->
              <li>
                <div class="card white z-depth-3">
                  <div class="card-content black-text">
                    <h5>둘째. 학생들이 자주 탑승하는<br>고정된 경로만을 운행합니다.</h5>
                    <p>금방모여서 금방 갈 수 있어요!!</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="card white z-depth-3">
                  <div class="card-content black-text">
                    <h5>세번째. 시간 약속을 철저히 지킬 수 있도록<br>신고제 도입했습니다.</h5>
                    <p>신고당하면 서비스 이용을 못해요~!<br class="hide-on-med-and-up"> 반드시 지킬 수 밖에 없습니다!</p>
                  </div>
                </div>
              </li>
          </ul>
        </center>
        </div>
          <div class="col s12 m12 l6 hide-on-med-and-down">
          <center>
            <div class="smart-phone z-depth-4">
            <center>
              <ul class="chat-thread">
              	<li>아!!! 지각이다!!!</li>
              	<li>야! 지금 버스 줄 장난아냐</li>
              	<li>그럼 택시타자</li>
                <li>비싸잖아 ㅠㅠ</li>
                <li>아냐 택시플로 타면 돼!!!</li>
              </ul>
              </center>
            </div>
          </center>
          </div>
        </div>
      </div>
  </div>
</div>

<script>
   $(document).ready(function(){
      $('.parallax').parallax();
    });
    
    var options = [
      {selector: '#service-intro', offset: 50, callback: 'Materialize.toast("안녕하세요~ 택시플입니다^^", 1500 )' },
      {selector: '#staggered-test', offset: 400, callback: 'Materialize.showStaggeredList("#staggered-test")' },
      {selector: '#image-test', offset: 500, callback: 'Materialize.fadeInImage("#image-test")' }
    ];
    Materialize.scrollFire(options);
</script>
