<!DOCTYPE html>
<html>
<head>
  <title>TAXIPLE</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Site's designed for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <!--Import jQuery before materialize.js-->
  <link rel="stylesheet" type="text/css" href="../../assets/materialize.css">
  <link rel="stylesheet" type="text/css" href="../../assets/view.css">
  <link rel="stylesheet" type="text/css" href="../../assets/page_4.css"><!-- 한나체 -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../../assets/materialize.js"></script>
  <!--<script type="text/javascript" src="../../assets/make_room.js"></script>-->
  <script type="text/javascript" src="../../assets/page_4.js"></script>
  <%= csrf_meta_tags %>
  <!--<link rel="stylesheet" type="text/css" href="../../assets/make_room.css">-->
    <!--구글아이콘-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--pusher plugin-->
  <script src="https://js.pusher.com/2.2/pusher.min.js"></script>
</head>

<body>
<!-- 네비게이션 바 -->
<nav class="z-depth-2" style="background-color: #F5C71D;">
  <div class="nav-wrapper">
    <ul class="right hide-on-med-and-down">
   <!--   <li><a class="modal-trigger" href="#sign-in"><%#= current_user.email %></a></li>--><!--아이콘-->
      <li><a class="modal-trigger" href="/taxiple/my_room"><!--아이콘-->내가 들어간 방</a></li><!--로그인 중이면 "내 정보" 로그아웃 중이면 "로그인하기"-->
      <% if current_user.mk_room_id.nil? && current_user.register_to_use == false %>
        <li><a class="modal-trigger" href="/taxiple/make_room"><!--아이콘-->방 만들기</a></li><!-- 로그인 중이면 보여주기-->
      <% end %>
      <li><a class="modal-trigger" href="/taxiple/page4"><!--아이콘-->대기방 보기</a></li>
    </ul>
  <!--사이드바-->
  <ul id="slide-out" class="side-nav" style="background-color: #F5C71D;">
    <img src="../../assets/택시플이름로고.jpg" style="height: 3em; margin: 2em 0em -1em 2em;">
  <% if !current_user.list.nil? and current_user.register_to_use == true %>
    <li class ="waves-effect" style="width: 100% ">
      <a href="/taxiple/my_room/<%= current_user.list.id%>" style="border-top: solid 1px #E4AC31">
        <img class="valign" src="../../assets/집.jpg" style="padding-right: 15px; text-align: center; vertical-align: middle; width: 50px;"/>
        <span style="font-size: 15px;">홈&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </a>
    </li>
  <% end %>
    <% if current_user.register_to_use == false %> 
      <li class ="waves-effect" style="width: 100%">
        <a href="/taxiple/make_room" style="border-top: solid 1px #E4AC31">
          <img class="valign" src="../../assets/말풍선.jpg" style="padding-right: 13px; text-align: center; vertical-align: middle; width: 50px; height: 31px;"/>
          <span style="font-size: 15px;">방 만들기 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </a>
      </li>
    <% end %>
    <li class ="waves-effect" style="width: 100%">
      <a href="/taxiple/page4" style="border-top: solid 1px #E4AC31;">
        <img src="../../assets/대기방보기.jpg" style="padding-right: 15px; text-align: center; vertical-align: middle; width: 50px; height: 31px;"/>
        <span style="font-size: 15px;">대기방 보기</span>
      </a>
    </li>
    <li class ="waves-effect" style="width: 100%">
      <a href="#" style="border-top: solid 1px #E4AC31;">
        <img src="../../assets/종.jpg" style="padding-right: 15px; text-align: center; vertical-align: middle; width: 50px;"/>
        <span style="font-size: 15px;">신고하기&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </a>
    </li>
    <li class ="waves-effect" style="width: 100%">
      <a href="#" style="border-top: solid 1px #E4AC31;">
        <img class="valign" src="../../assets/따움표.jpg" style="padding-right: 15px; text-align: center; vertical-align: middle; width: 45px;"/>
        <span style="font-size: 15px;">서비스 소개</span>
      </a>
    </li>
    <li class ="waves-effect" style="width: 100%">
      <a href="/users/sign_out" style="border-top: solid 1px #E4AC31; border-bottom: solid 1px #E4AC31;">
        <img class="valign" src="../../assets/전원버튼.jpg" style="padding-right: 15px; text-align: center; vertical-align: middle; width: 43px;"/>
        <!--<img src="../../assets/binoculars-48.png" style="padding-right: 15px; text-align: center; vertical-align: middle; width: 50px;"/>-->
        <span style="font-size: 15px;">로그아웃&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </a>
    </li>
  </ul>
    <a class="button-collapse content" href="#" data-activates="slide-out" style="height: 100%;">
      <i class="medium material-icons" style="float: left; margin: 0px 5px; font-size: 3em; position: absolute;">list</i>
    </a>
    <div class="center-align">
      <img class="z-index-3"src="../../assets/택시플이름로고.jpg" style="height: 50px; margin: 0.3em;">
    </div>
  </div>
</nav>
<%= yield %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65881210-2', 'auto');
  ga('send', 'pageview');
  
  //page4s에서 방에 들어가기
$(document).ready(function() {
  
    function join(){
        var mkroom_num = document.getElementById("mkroom_num");
        var myroom_num = mkroom_num.getAttribute("class");
        alert(myroom_num);
        $.ajax({
            type: "POST",
            url: "/taxiple/join",
            data: {
              room_num: myroom_num
            },
            success: function() { alert("방에 참가했습니다"); },
            error: function() { alert("방이 꽉찼습니다. 다른방을 찾아주세요"); }
        });
    }
    // function join(){
    //     var mkroom_num = document.getElementById("mkroom_num");
    //     var myroom_num = mkroom_num.getAttribute("class");
    //     alert(myroom_num);
    //     $.ajax({
    //         type: "POST",
    //         url: "/taxiple/join",
    //         data: {
    //           room_num: myroom_num
    //         },
    //         async: false,
    //         success: function() { alert("방에 참가했습니다"); }
    //         error: function() { alert("방이 꽉찼습니다. 다른방을 찾아주세요"); }
    //     });
    // }
    
    function reject(){
        alert("이미 방에 속해있습니다. 방을 나간 후 참가해주세요."); 
    }

});
</script>
</body>
</html>
